In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [2]:
#Read data

df_train = pd.read_csv('SalaryData_Train.csv')
df_test = pd.read_csv('SalaryData_Test.csv')

In [4]:
#Combine the training and testing data

df = pd.concat([df_train,df_test])

In [5]:
df.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
#Convert the categorical values into numerical values using labelencoder

cols = ['workclass','education','maritalstatus','occupation','relationship','race','sex','native','Salary']

# Encode labels of multiple columns at once

df[cols] = df[cols].apply(LabelEncoder().fit_transform)

# Print head

df.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,0
1,50,4,9,13,2,3,0,4,1,0,0,13,37,0
2,38,2,11,9,0,5,1,4,1,0,0,40,37,0
3,53,2,1,7,2,5,0,2,1,0,0,40,37,0
4,28,2,9,13,2,9,5,2,0,0,0,40,4,0

In [12]:
#Split the data back into training and testing
df_train = df[:len(df_train)]
df_test = df[len(df_test):]

In [15]:
#split the data into training 
xtrain = df_train.drop('Salary', axis=1)
ytrain = df_train['Salary']

#split the data into testing
xtest = df_test.iloc[:,:-1]
ytest = df_test['Salary']

# Model building

In [17]:
naive = GaussianNB()
naive.fit(xtrain,ytrain)
ypred = naive.predict(xtest)

In [18]:
print(f"Accuracy: {accuracy_score(ytest,ypred)}")

Accuracy: 0.7951659427737807

In [19]:
from sklearn.metrics import classification_report
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.81      0.95      0.87     22673
           1       0.68      0.33      0.44      7488

    accuracy                           0.80     30161
   macro avg       0.75      0.64      0.66     30161
weighted avg       0.78      0.80      0.77     30161